<body>
  <div class="signup-container">
    <form method="POST" action="/registration" enctype="multipart/form-data">
      <p> <i class="fa fa-user-plus"></i>Sign Up</p>
      <input type="text" id="name" name="name" placeholder="Name" value="{{l_name}}">
      <div align="center">{{#each error0}}{{this}}{{/each}} </div><br>

      <input type="text" align="center" id="email" name="email" placeholder="E-mail"
        value="{{l_email}}">
      <div align="center">{{#each error1}}{{this}}{{/each}} </div>
      <div align="center">{{#each error4}}{{this}}{{/each}} </div>
      <div align="center">{{#each error5}}{{this}}{{/each}} </div><br>

      <input class="pass" type="password" align="center" id="password" name="password" placeholder="Password">
      <div align="center">{{#each error2}}{{this}}{{/each}} </div><br>
      <div align="center">{{#each error7}}{{this}}{{/each}} </div><br>

      <input class="pass" type="password" align="center" id="pswre" name="pswre" placeholder="Password Again">
      <div align="center">{{#each error3}}{{this}}{{/each}} </div>
      <div align="center">{{#each error6}}{{this}}{{/each}} </div><br>

      <button type="submit" align="center" value="signup">Sign up</button>
    </form>
  </div>
</body>